body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 1rem;
}

@font-face {
  font-family: 'Valorant Font';
  src: url('./assets/fonts/Valorant Font.ttf');
}

h1 {
  font-family: 'Valorant Font';
}

.center-fix {
  align-self: center;
  direction: rtl;
}

.fit {
  height: fit-content;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}